.parallax-2 {
  color: black;
  background: url('../img/miroslava-eqf26SdE5SI-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}
